@import '../../_variables';

.Input {
    background-color: white;
    border: 1px solid $grey-1;
    border-radius: 8px;
    padding-right: 1rem;
    padding-left: 1rem;
    font-family: $font-family;
    width: 100%;
    max-width: 300px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: $gray-2;
        outline-width: 0;


}

.Label {
    display: block;
    margin-bottom: .7rem;
    color: $gray-3;
    font-family: $font-family;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}

.small {
    height: 45px;
    font-size: 12px
}

.medium {
    height: 55px;
    font-size: 14px;
}

.large {
    height: 65px;
    font-size: 1rem;
}