.Input {
    background-color: white;
    border: 1px solid #B9B9B9;
    border-radius: 8px;
    padding-right: 1rem;
    padding-left: 1rem;
    font-family: var(--font-family);
    width: 100%;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    display: flex;
    align-items: center;
    /* Gray 2 */
    color: #4F4F4F;
}

.Label {
    display: block;
    margin-bottom: .7rem;
    color: #828282;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}

.Input:focus {
    outline-width: 0;
    border-color: #9d9b9b;
}

.small {
    height: 45px;
    font-size: 12px
}

.medium {
    height: 55px;
    font-size: 14px;
}

.large {
    height: 65px;
    font-size: 1rem;
}