.Board {
    background-color: white;
    border-radius: 16px;
    width: 80%;
    max-width: 700px;
    padding: 2rem;
    margin: 10% auto;
    height: 383px;
}


.Calendar__Content {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
}

.Calendar, .TimePicker {
    border: 1px solid #E0E0E0;
    height: 334px;
    box-sizing: border-box;
    border-radius: 12px;
    margin-bottom: 1rem;
    font-family: var(--font-family);
}
