@import '../../../_variables.scss';

.Calendar__Heading {
    margin-bottom: 28px;
    display: flex;
    justify-content: space-between;    
}
.Calendar__Heading h4 {
    margin-bottom: .7rem;
}
.Icon {
    color: $gray-3;
    height: 26px;
    width: 26px;
    cursor: pointer;
}
