.CustomDatePicker .react-datepicker__header {
    background-color: transparent;
    border: none;
}

.CustomDatePicker .react-datepicker__navigation:focus {
    outline-width: 0;
}

.CustomDatePicker .react-datepicker__navigation {
    top: 25px;
}

.CustomDatePicker .react-datepicker__day {
    font-family: var(--font-family);
    border-radius: 50% !important;
    margin: .4rem;
    height: 2rem;
    width: 2rem;
    line-height: 2rem;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    color: hsla(0, 0%, 20%, 0.6);
}

.CustomDatePicker .react-datepicker__day--selected:active, .react-datepicker__day--selected:focus {
    outline-width: 0;
}

.CustomDatePicker .react-datepicker__day--selected, .react-datepicker__day--keyboard-selected {
    background-color: #33CCFF !important;
    color: white;
}

