.Calendar__Content {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 800px) {
    .Calendar__Content {
        grid-template-columns: 1fr;
    }
}

.CustomDatePicker, .TimePicker {
    border: 1px solid #E0E0E0;
    height: 334px;
    box-sizing: border-box;
    border-radius: 12px;
    margin-bottom: 1rem;
    font-family: var(--font-family);
}
