.Modal {
    position: fixed;
    z-index: 500;
    width: 70%;
    max-width: 700px;
    background: #FFFFFF;
    border-radius: 16px;
    padding: 32px;
    margin-top: 0;
    top: 10%;
    transition: all 0.3s ease-out;
}
