@import '../../_variables';

.Modal {
    position: fixed;
    z-index: 500;
    width: 90%;
    max-width: 700px;
    background: $white-color;
    border-radius: 16px;
    padding: 32px;
    margin-top: 0;
    transition: all 0.3s ease-out;
    max-height: 700px;
    overflow: auto;
    top: 5%;
    /* bottom: 5%; */
    transform: translateY(0);

    /* transform: translate(); */
@media (max-width: 800px) {
        left: 5%;
}
}
