$white-color: #ffffff;
$black-color: #18243A;

$grey-1: #B9B9B9;
$grey-2: #F7F7F7;

$gray-2: #4F4F4F;
$gray-3: #828282;
$gray-4: #BDBDBD;
$gray-5: #E0E0E0;

$dark-blue: #003399;
$young-blue: #33CCFF;

$font-family: 'Montserrat', sans-serif;
