@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
@import './variables';

* {
  box-sizing: border-box;
  border: 0;
  padding: 0;
}

h1, h2, h4, h5, h6 {
  color: $black-color;
  margin: 0;
  margin-bottom: .5rem;
}

p {
  margin: 0;
}

body {
  margin: 0;
  color: $grey-1;
  background-color: #f8f8f8;
  font-family: $font-family;
}

.d-flex {
  display: grid;
  align-items: center;
  grid-template-columns: auto auto;
  gap: 1.5rem;
}